body {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', sans-serif;
    background-image: linear-gradient(45deg, #000000 0%, #03041b 100%);
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(1, 138, 31);
    background-color: azure;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: rgb(0, 0, 0);
    border-bottom: solid rgb(92, 177, 7) 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header > div {
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
}

.menu {
    display: flex;
}

.menu a {
    display: block;
    padding: 20px;
    letter-spacing: 2px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    letter-spacing: 1px;
    font-family: "Bebas Neue", serif;
}

p {
    color: rgb(241, 241, 241);
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Montserrat", serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 100px;
    margin: 5px;
}

.best {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    }

.best > div {
    flex: 1 1 100px;
    margin: 10px;
}

.footer {

    background-color:rgb(0, 0, 0);
    border-top: solid rgb(92, 177, 7) 2px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media only screen and (max-width: 650px) {
    .menu a {
        display: none;
        padding: 1px;
        letter-spacing: 2px;
    }


    .header {
        background-color:rgb(19, 20, 18);
        border-bottom: solid rgb(145, 170, 0) 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }


    h1 {
        font-size: 1em;
        color: rgb(255, 255, 255);
    }
    .footer {
        font-size: 14px;
        background-color:rgb(0, 0, 0);
        border-top: solid rgb(92, 177, 7) 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: rgb(173, 173, 11);
    }
    p {
        font-size: 13px;
        color: rgb(255, 255, 255);
        padding: 5px;
    }
    body {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.2rem;
        font-family: 'Libre Baskerville', sans-serif;
        background-image: linear-gradient(45deg, #000000 0%, #03041b 100%);
    }
    }

    @media only screen and (max-width: 430px) {
        p {
            font-size: 1em;
            padding: 20px;
        }
        }
